.onbir-section{
    background-color: antiquewhite;
    padding: 114px;

    .mar{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__ndm{
            color: rgb(0, 0, 0);


            &__title{
                font-size: 50px;
                padding: 10px;
            }
            &__text{
                font-size: 26px;
                padding: 10px;
                color: rgba(0, 0, 0, 0.477);

            }
            &__p{
                width: 500px;
                color: rgba(0, 0, 0, 0.477);
            }
            &__img{
                width: 1200px;
                padding: 20px;
                margin-left: -700px;
            }
        }
    }
}